
#leftcolumn

 {

float: left;
width: 150px;

}



#rightcolumn
{


float: right;
width: 150px;

}

  nav li
  {

    list-style-type: none;
    display: inline;
    margin-left: 0;
    padding-right: 10px;
  }

  nav ul

  {
    margin-left: 0;
    padding-left: 0;
  }

img
{
  border : 0;
}

footer 

{ 

  position: absolute;
  left: 0px;
  bottom: 0px;
  


 }

